# Directories
.vs/
bin/
bin-int/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Mac OS files
*.DS_Store
*.plist
*.xcscheme
*.xcsettings
*.pbxproj
*.xcuserstate
*.xcworkspacedata
*.xcbkptlist

# Exclude
!vendor/bin
*.vscode/